<div class="mx-auto">
<h1><%=@user.name %></h1>

<%= image_tag(@user.avatar, class:"rounded-circle media-right" ) if @user.avatar.attached? %>
</div>
<div class="d-flex justify-content-center">
<h6>
<%=pluralize(@post_count, "posts")%>
</div>

</h6>
<div class="d-flex justify-content-center">
<h6><%= pluralize(@user.views, "view") %></h6>
</div>
<hr class="solid"/>
<div>
<div class="d-flex justify-content-center">
<h4><%= @user.name%>'s posts </h4>

</div>
<hr class="solid"/>
<div id="posts">


  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
      <hr class="solid"/>
  <% end %>

</div>
</div>
