<h1><%=@user.name %></h1>

<%= image_tag @user.avatar if @user.avatar.attached? %>
<h6>
<%=pluralize(@post_count, "posts")%>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
      <hr class="solid"/>
  <% end %>

</div>

</h6>
<h6><%= pluralize(@user.views, "view") %></h6>
