<div class="post-bio-cont" id="<%= dom_id post %>">
      
       <div class="post-bio">
       <h2> 
      <strong>Title:</strong>
      <%= post.title %>
    </h2>
     
    <h3 class="post-bio-mid">
    posted by: 
  <%= link_to post.user.name, user_path(post.user)%>
    <%= image_tag post.user.avatar, :class => "pfp" if post.user.avatar.present? %>
    </div>


  </h3>
   <article class="body">

    <%= post.body %>
  </article>
<h4>
  <%=pluralize(post.views, "view")%>
  </h4>

 
  </div>

</div>

