<div class="post-bio-cont" id="<%= dom_id post %>">
      
       <div class="post-bio">
       <h2 class="title-post"> 
      <strong>Title:</strong>
      <%= post.title %>
    </h2>
     
    <h3 class="post-bio-mid title-post">
    posted by: 
  <%= link_to post.user.name, user_path(post.user), class:"link-po"%>
    <%= image_tag post.user.avatar, :class => "pfp post-bio-mid1" if post.user.avatar.present? %>
    <h4 class="title-post">
      <%=pluralize(post.views, "view"), :class => "title-post"%>
        </h4>
    </div>
    
  </h3>

   <p class="opac">
     <div class="body">
    <%= post.body %>
    </div>
  </p>


 
  </div>

</div>

