<div class="post-bio-cont" id="<%= dom_id post %>">
      <h2> 
      <strong>Title:</strong>
      <%= post.title %>
    </h2>
      <div class="post-bio">
    <h3>posted by: 
  
  <%= link_to post.user.name, user_path(post.user)%>
    <%= image_tag post.user.avatar, :class => "pfp" if post.user.avatar.present? %>
    </div>


  </h3>
   <article>

    <%= post.body %>
  </article>
<h4>
  <%=pluralize(post.views, "view")%>
  </h4>

 
  </div>

</div>

