<div id="<%= dom_id post %>">
      <h2> 
      <strong>Title:</strong>
      <%= post.title %>
    </h2>




    <h3>posted by
  <%= link_to post.user.name, user_path(post.user)%>
  <%= image_tag current)user.avatar if current_user.avatar.attached?%>
  </h3>
<h4>
  <%=pluralize(post.views, "view")%>
  </h4>

  <article>

    <%= post.body %>
  </article>


</div>

