





<div class="container">
<hr class="solid"/>
<%= render @post %>

<hr class="solid"/>
<% if current_user == @post.user %>
<div class="comments-con">
  <%= link_to "Edit this post", edit_post_path(@post), class:"comments" %> 


 <%= link_to 'Delete Post', confirm_delete_path(@post), class:"comments"  %>
</div>
<% end %>
  <%= link_to "Back to posts", posts_path, class:"comments"  %>
</div>


<div class="container ">
<%= render 'comments/form', post: @post, comment: @post.comments.build,
submit_label:"Reply"
%>
<% @comments.each do |comment| %>
<%= render 'comments/comment', post: @post, 
comment: comment
 %>
<% end %>
</div>

