<nav class="navbar navbar-expand-lg navbar-light navstyle padding-r">
  <div class="container-fluid ">
  <div class="logo-text">
    <%= link_to "Rails Blog", root_path, class:' logo-text nav-text2'%>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item nav-text">
          <%= link_to "Home", root_path, class:'nav-link'%>
        </li>
        <li class="nav-item nav-text">
          <%= link_to "Blog", posts_path, class:"nav-link" %>
        </li>
      </ul>
      
      <ul class="navbar-nav padding-r1">
            
        <%= render 'layouts/notifications' %>
 
        <%= render 'layouts/session_manager' %>
      
      </ul>
        </div>
     <div class="search-pos">
        <%= render 'search/search_form' %>
          </div>
    </div>
  

</nav>